<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    *{
        margin:0;
    }
    td{
        width:200px;
        white-space: nowrap;/*控制单行显示*/

        overflow: hidden;/*超出隐藏*/

        text-overflow: ellipsis;/*隐藏的字符用省略号表示*/
    }
    .a{
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
        height:100%;
        opacity:0.2
    }
    .a1{
        width:200px;
        height:50px;
        border:1px;
        background-color: rgb(135, 211, 241);
        border-radius: 10px;
        color:azure;
        margin-top: 20px;
        /* box-shadow: 2px 2px 5px #888888; */
        font-size: 20px;
    }
    .a2{
        font-size:15px;
        padding-left: 88%;
        color: white;
        padding-top: 10px;
    }
    .a3{
        width:200px;
        height:50px;
        border-top:1px rgb(126, 125, 122);
        border-bottom:1px rgb(126, 125, 122);
        /* background-color: rgb(135, 211, 241); */
        color:azure;
        margin-top: 20px;
        font-size: 20px;
    }
</style>
<body style="background:url('./images/20.png')">
        <!-- <img class="a"
            src="https://s2.ax1x.com/2019/12/18/Q713jA.jpg"> -->
        <div >
            
            <div style="background:#8ecfec;height:50px;width:94%;padding:25px;padding-left:50px;">
                <p style="font-size:30px;color:aliceblue;float:left;">呦呦育儿后台管理</p>
                <div class="a2" onclick="tologin()">
                    <img style="width:20px;" src="./images/unlogin.png" />
                    退出登录
                </div>
            </div>
            <div style='width:20%;height:100%;float: left;'>
                <!-- <button class="a1" onclick="tohome()" >首页</button> -->
                <button class="a1" onclick="touserslist()" >用户管理</button>
                <button class="a1" onclick="tobaby()">宝宝管理</button>
                <button class="a1" onclick="tocaprice()">随想管理</button>
                <button class="a1" onclick="tochapter()">帖子管理</button>
                <button class="a1" onclick="tocollect()">收藏管理</button>
                <button class="a1" onclick="totopic()">话题管理</button>
                <button class="a1" onclick="tosystem()" >系统管理</button>

            </div>
            <div style='width:80%;height:100%;float: left;'>
                <table style="text-align:center;table-layout: fixed;padding:60px; margin-top:10px">
                    <form action='/colsearch' method='post' >
                        查找用户：<input type='text' name='username' />
                        <button type='submit' value='submit' >search</button>
                    </form>
                    <tr style="margin-bottom:10px">
                        <td>收藏id</td>
                        <td>用户</td>
                        <td>帖子id</td>
                        <td>操作</td>
                    </tr>
                    <% for(var i = 0; i < usersList.length;i++){%>
                        <tr style="margin-top:10px">
                            <td><%=usersList[i]["id"] %></td>
                            <td> <%= usersList[i]["telphone"] %></td>
                            <td> <%= usersList[i]["chapterid"] %></td>
                            <td><a href="/delcol/?id=<%= usersList[i]['id'] %>">删除</a></td>
                        </tr>
                    <% } %>
                    
                </table>
            </div>
                
        </div>
        
   
  
</body>
<script>
    function tohome(){
        window.location.href="/home";
    }
    function touserslist(){
        window.location.href="/usersList";
    }
    function tobaby(){
        window.location.href="/babym"
    }
    function tocaprice(){
        window.location.href="/capricem"
    }
    function tochapter(){
        // window.location.href="/chapterm";
        window.location.href="/fenye1";

    }
    function tocollect(){
        window.location.href="/collectm"
    }
    function tosystem(){
        window.location.href="/system";
    }
    function tologin(){
    window.location.href="/login"
    }
    function totopic(){
        window.location.href="/topicm";
    }
</script>
</html>