.myform {
    width: 80%;
    margin: 0 auto;
  }
  .myform img{
    margin-left:30%;
    margin-bottom: 50px;
  }
  .myform h4{
    margin-left: 35%;
    margin-right: 20%;
    padding-top:20px;
    font-weight: bold;
  }
  .myform input {
    width:80%;
    font-size: 14px;
    margin-top: 20px;
    margin-left:10%;
    padding:7px;
    border-radius: 8px;
  }
  .login-btn-submit {
    width: 100%;
    margin-top: 38px;
  }
  
  .el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
  }
  .el-button--primary {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    margin-top: 40px;
  }
  .register input{
    border:1px solid white;
    background: #fff;
  }

  .not-square-grid .am-grid-icon {
    width: 40px;
    height: 60px;
    font-size: 16px;
    margin:5px;
  }
  .sub-title {
    color: #888;
    font-size: 18px;
    padding: 15px 0 9px 15px;
  }