/* *{
    margin:0;
    padding:0;
}
body{
    background-color: #fff;
}

.flex-container {
    margin: 0 15px;
    background-color: white;
}
.placeholder1 {
    background-color:#fff;
    color: rgb(19, 18, 18);
    height: 70px;
    line-height: 30px;
    width: 100%;
  } */

/* .placeholder img{
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  }
*/
.bottom{
  width: 20%;
  float: left;
  color:#2278c9;
}
.bottom_a1{
  text-align: center;
  color:black;
}
.bottom_a2{
  text-align: center;
  color:red;
}

 

 