@import '~antd/dist/antd.css';

*{
    margin:0;
    padding:0;
}
body{
    background-color: #fff;
}

.flex-container {
    margin: 0 15px;
    background-color: white;
}

.placeholder img{
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  }
  .placeholder h2{
    margin-left: 27%;

  }
  .wrap img {
    width: 36%;
    margin: 9px;
  }
  .wrap h2{
    margin-left: 7%;
  }
 .my-list{
   margin-top:10px;
   height:100px
 }

 Tabs{
  position:"fixed";
  width:"100%";
 }
.shouye3{
    margin-top:150px;
    float:'left';
  }
  .placeholder {
    background-color:#fff;
    color: rgb(19, 18, 18);
    /* text-align: center; */
    height: 46px;
    line-height: 30px;
    width: 100%;
  }
  .focus1{
    /* text-align:center; */
    width:'100%';
    height:50px;
    background-color:'white';
    font-size:20px;
    padding-top:10px;
  }
  .song1{
      width:90px;
      height:90px;
      background-color: blue;
  }
  .song2{
    width:90px;
    height:90px;
    margin-left:10px;
    background-color: blue;
}
.placeholder1 {
  background-color:#fff;
  color: rgb(19, 18, 18);
  /* text-align: center; */
  height: 70px;
  line-height: 30px;
  width: 100%;
}


 