<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <!-- <form action='/add' method='post'>
      新闻标题：<input type='text' name='title' />
      新闻内容：<textarea name='content' rows='10' ></textarea>
      <button type='submit' value='submit' >submit</button>
    </form> -->
    <form action='/add' method='post'>
     name：<input type='text' name='title' />
      tel<textarea name='content' rows='10' ></textarea>
      <button type='submit' value='submit' >submit</button>
    </form>
    


  </body>
</html>

