.App {
    text-align: center;
    width:100%;
    overflow: hidden;
    margin:0 auto;
    margin-top: 100px;
    background-color: #fff;
  }
  
  
  
  
  /* @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */
  